*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center
{
    margin: auto;
    width: 80%;
    border: solid 1px black;
}

.box
{
    /* height: 200px; */

    /* display: flex;
    align-items: flex-end;
    justify-content: flex-start; */
    padding-top: 200px;
}

.center-image
{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.text-box {
    display: inline-block;
    width: 24%;     /* imposta la larghezza desiderata */
    padding: 10px;
    margin: 0px;
    /* background: #f2f2f2; */
    vertical-align: top;   /* opzionale: allinea box di altezze diverse */
    overflow-wrap: break-word 

}

/* .text-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 8px; */


.top-bot-mar-10
{
    margin: 10px 0px;
}
.light-gray
{
    color:#e8e9ed ;
}

.img-box-line
{
    display: inline-block;
    width: 24%;
    height: 128px;
    background-color: blue;
    /* border: solid red 3px; */
}

.graying
{
    filter: brightness(80%);
}